<div>
  <section>
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName]" routerLinkActive="router-link-active">Volver</button>
    <button class="btn btn-primary" [routerLink]="['/udg/' + resourceName + '/edit/' + modelId ]" routerLinkActive="router-link-active">Editar</button>

  </section>
  <hr>
  <section *ngIf="!loading">
    <div>
      <h4><span class="badge badge-info">{{model.centerId | idField:'/centers':'acronym' | async}}</span></h4>
      <h1>{{model.name}}</h1>
      <h6>{{model.email}}</h6>
      <hr>
      <h5> Rol asignado: {{model.roleId | idField:'/roles':'name' | async}} </h5>
      <h5 *ngIf="model.active">Estado del usuario: <b class="active">ACTIVO</b></h5>
      <h5 *ngIf="!model.active">Estado del usuario: <b class="inactive">INACTIVO</b></h5>
    </div>
  </section>
</div>
