<div>
  <h2>Recuperación de cuenta</h2>

    <p>
      Si perdiste tu contraseña, solicita un código a tu correo electrónico para recuperarla
    </p>
  <form [formGroup]="initForm">
    <div class="form-group">
      <label>
        Correo electrónico:
      </label>
      <input class="form-control w-50 mb-4" formControlName="email">
    </div>
    <button class="btn btn-primary" submit (click)="sendCode()">
      Envíar código
    </button>
  </form>

  <p>
    Si completaste el paso anterior, entonces se ha enviado un código de
    verificación a tu correo electrónico.
    Por favor revise en su bandeja de entrada, y en los apartados de
    SPAM y correos no deseados.
  </p>

  <form [formGroup]="form">
    <div class="form-group">
      <label>
        Correo electrónico:
      </label>
      <input class="form-control w-50 mb-4" formControlName="email">
      <label>
        Código de verificación:
      </label>
      <input class="form-control w-50 mb-4" formControlName="code">
      <label>
        Nueva contraseña:
      </label>
      <input class="form-control w-50 mb-4" formControlName="password">
    </div>
    <button class="btn btn-primary" submit (click)="redeem()">
      Validar mi cuenta
    </button>
</form>

</div>
