<div>
  <h2>Bienvenido a Consultas UDG</h2>
  <p>Para crear una cuenta nueva, por favor llene el formulario con sus datos.</p>
  <form [formGroup]="form">
    <div class="form-group">
      <h5>
        Nombre completo:
      </h5>
      <input class="form-control w-50 mb-4" formControlName="name">
      <h5>
        Correo electrónico:
      </h5>
      <input class="form-control w-50 mb-4" formControlName="email">
      <h5>
        Contraseña:
      </h5>
      <input class="form-control w-50 mb-4" type="password" formControlName="password">

      <h5>Centro universitario:</h5>
      <select class="form-select paddingfix" (change)="setCenter($event.target.value)">
        <option class="w-50" value="" selected>Seleccionar centro universitario</option>
        <option class="w-50" [value]="item._id" *ngFor="let item of centers">{{item.name}}</option>
      </select>

    </div>
    <button class="btn btn-primary" submit (click)="register()">
      Registrarme
    </button>
</form>
</div>

