<div>
  <section>
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName + '/' + groupId + '/' + subresourceName]" routerLinkActive="router-link-active">Volver</button>
  </section>
  <hr>
  <section *ngIf="!loading">
    <div class="row">
      <div class="col">
        <div>
          <p>{{model.createdAt | esdate }} </p>
          <h5 class="card-title">{{model.title}}</h5>
          <p class="text-muted mr-auto">{{model.description}}</p>
          <img class="imgPreview my-4" [src]="model.media">

          <h5>Autor: {{model.ownerId | idField:'/users':'name' | async}}.</h5>
          <p *ngIf="model.moment">Notificaciones: <span class="badge badge-success">Activas</span></p>
          <p *ngIf="!model.moment">Notificaciones: <span class="badge badge-secondary">Desactivadas</span></p>
        </div>
      </div>
      <div class="col">
        <form [formGroup]="form">
          <div class="form-group input-group">
            <input class="form-control w-50 heightAdjust" formControlName="comment" placeholder="Escribe lo que piensas.">
            <button class="btn btn-primary" submit (click)="comment()">Comentar</button>
          </div>
        </form>
        <div>
          Comentarios:
          <div class="card px-4 pt-1" *ngFor="let item of comments">
            <p><span class="badge badge-pill badge-dark py-1 px-2">{{item.ownerId| idField:'/users':'name'|async}}</span> - {{item.createdAt | esdate}}</p>
            <p>{{item.comment}}</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
