<div>
  <section>
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName]" routerLinkActive="router-link-active">Volver</button>
    <button class="btn btn-primary" [routerLink]="['/udg/' + resourceName + '/edit/' + modelId ]" routerLinkActive="router-link-active">Editar</button>

  </section>
  <hr>
  <section *ngIf="!loading">
    <div>
      <h4><span class="badge badge-info">{{model.centerId | idField:'/centers':'name' | async}}</span></h4>
      <h1>{{model.name}}</h1>
      <h3 *ngIf="model.acronym">Acrónimo: {{model.acronym}}</h3>
      <h3 *ngIf="!model.acronym">Acrónimo no definido para esta licenciatura.</h3>
      <h4 *ngIf="model.active">Estado de la licenciatura: <b class="active">ACTIVA</b></h4>
      <h4 *ngIf="!model.active">Estado de la licenciatura: <b class="inactive">INACTIVA</b></h4>
    </div>
  </section>
</div>
