<div>
  <!-- Options section -->
  <section class="text-left">
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName + '/' + groupId + '/' + subresourceName]" routerLinkActive="router-link-active">Volver</button>
    <button class="btn btn-danger" (click)="delete()" *ngIf="!loading && edition">Eliminar</button>
  </section>
  <hr>

  <section *ngIf="!loading" class="text-left">
    <form [formGroup]="form">
      <div class="form-group">

        <h5>Titulo:</h5>
        <input class="form-control w-50 mb-4" formControlName="title"/>

        <h5>Descripción:</h5>
        <input class="form-control w-50 mb-4" formControlName="description"/>

        <h5>Tipo de publicación:</h5>
        <select class="form-select paddingfix" (change)="setPostType($event.target.value)">
          <option class="w-50" selected>Seleccionar tipo de publicación</option>
          <option class="w-50" value="permanent">Permanente</option>
          <option class="w-50" value="temp">Temporal</option>
        </select>

        <div *ngIf="isMoment">
          <h5>Fecha de notificación:</h5>
          <small>Los usuarios recibirán un correo electrónico con un recordatorio a partir de la fecha y hora designada</small>
          <div class="d-flex flex-row align-middle">
            <p>Fecha:</p>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Día" min="1" max="31" type="number" formControlName="nAday"/>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Mes" min="1" max="12" type="number" formControlName="nAmonth"/>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Año" min="2022" max="2100" type="number" formControlName="nAyear"/>
          </div>
          <div class="d-flex flex-row align-middle">
            <p>Hora:</p>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Hora" min="1" max="12" type="number" formControlName="nAhour"/>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Minuto" min="0" max="59" type="number" formControlName="nAminute"/>
            <select class="form-select paddingfix" (change)="setnAAMPM($event.target.value)">
              <option class="w-50" value="" selected>am/pm</option>
              <option class="w-50" value="AM">am</option>
              <option class="w-50" value="PM">pm</option>
            </select>
            <p *ngIf="correctNA">&nbsp;Notificaciones: {{parsedNotifyAt}}</p>
            <p *ngIf="!correctNA">&nbsp;Fecha incompleta...</p>
          </div>

          <h5>Fecha de finalización de publicación:</h5>
          <small>Esta publicación ya no será visible a partir de la fecha y hora designada</small>
          <div class="d-flex flex-row align-middle">
            <p>Fecha:</p>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Día" min="1" max="31" type="number" formControlName="fAday"/>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Mes" min="1" max="12" type="number" formControlName="fAmonth"/>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Año" min="2022" max="2100" type="number" formControlName="fAyear"/>
          </div>
          <div class="d-flex flex-row align-middle">
            <p>Hora:</p>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Hora" min="1" max="12" type="number" formControlName="fAhour"/>
            <input class="form-control mb-4 datePickInput heightAdjust" placeholder="Minuto" min="0" max="59" type="number" formControlName="fAminute"/>
            <select class="form-select paddingfix" (change)="setfAAMPM($event.target.value)">
              <option class="w-50" value="" selected>am/pm</option>
              <option class="w-50" value="AM">am</option>
              <option class="w-50" value="PM">pm</option>
            </select>
            <p *ngIf="correctFA">&nbsp;Cierra: {{parsedFinishAt}}</p>
            <p *ngIf="!correctFA">&nbsp;Fecha incompleta...</p>
          </div>
        </div>

      </div>
      <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png" #drop>
        <ngx-dropzone-label>Puedes subir únicamente una imagen</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
      <button class="btn btn-success" submit (click)="save()">Guardar</button>
    </form>
  </section>
</div>
