<div >
  <!-- Options section -->
  <section class="text-left">
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName]" routerLinkActive="router-link-active">Volver</button>
    <button class="btn btn-danger" (click)="delete()" *ngIf="!loading && edition">Eliminar</button>
  </section>
  <hr>

  <section *ngIf="!loading" class="text-left">
    <form [formGroup]="form">
      <div class="form-group">
        <h5>Nombre del centro universitario:</h5>
        <input class="form-control w-50 mb-4" formControlName="name">

        <h5>Acrónimo (opcional):</h5>
        <input class="form-control w-50 mb-4" formControlName="acronym">

        <h5>Estado: </h5>
        <select class="form-select paddingfix" (change)="setModelActive($event.target.value)">
          <option value="true">Centro Activo</option>
          <option value="false">Centro Inactivo</option>
        </select>
      </div>
      <button class="btn btn-success" submit (click)="save()">Guardar</button>
    </form>
  </section>
</div>
