<div >
  <!-- Options section -->
  <section class="text-left">
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName]" routerLinkActive="router-link-active">Volver</button>
    <button class="btn btn-danger" (click)="delete()" *ngIf="!loading && edition">Eliminar</button>
  </section>
  <hr>

  <section *ngIf="!loading" class="text-left">
    <form [formGroup]="form">
      <div class="form-group">
        <h5>Nombre de la materia:</h5>
        <input class="form-control w-50 mb-4" formControlName="name">

        <h5>CVE:</h5>
        <input class="form-control w-50 mb-4" formControlName="cve">

        <h5>Centro universitario:</h5>
        <select class="form-select paddingfix" (change)="setCenter($event.target.value)">
          <option class="w-50" value="" selected>Seleccionar centro universitario</option>
          <option class="w-50" [value]="item._id" *ngFor="let item of centers">{{item.name}}</option>
        </select>

        <h5>Estado: </h5>
        <select class="form-select" (change)="setModelActive($event.target.value)">
          <option value="true">Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>
      <button class="btn btn-success" submit (click)="save()">Guardar</button>
    </form>
  </section>
</div>
