<div>
  <section>
    <button class="btn btn-info" [routerLink]="['/udg/' + resourceName]" routerLinkActive="router-link-active">Volver</button>
    <button *ngIf="allowEdit && !loading" class="btn btn-primary" [routerLink]="['/udg/' + resourceName + '/edit/' + modelId ]" routerLinkActive="router-link-active">Editar</button>

  </section>
  <hr>
  <section *ngIf="!loading">
    <div>
      <h4 *ngIf="model.degree">
        <span class="badge badge-warning">{{model.referenceId | idField:'/degrees':'name' | async}}</span>
      </h4>
      <h4 *ngIf="model.subject"><span class="badge badge-warning">{{model.referenceId | idField:'/subjects':'name' | async}}</span></h4>
      <h1>{{model.name}}</h1>
      <h3>Creador del grupo: {{model.ownerId | idField:'/users':'name' | async}}.</h3>
      <h4 *ngIf="model.active">Estado del grupo: <b class="active">ACTIVA</b></h4>
      <h4 *ngIf="!model.active">Estado del grupo: <b class="inactive">INACTIVA</b></h4>

      <h5 class="text-muted" *ngIf="!model.hasPassword">No se requiere una contraseña para entrar a este grupo.</h5>
      <h5 class="text-muted" *ngIf="model.hasPassword">Se requiere una contraseña para entrar a este grupo. Ponte en contacto con el profesor o coordinador para conseguirla.</h5>
    </div>
  </section>
</div>
